<h1 class="margin">Create New Contact</h1>
<form name="phonebookform">
    <div class="form-group margin">
        <label class="col-sm-2 control-label">First Name:</label>
        <div class="col-sm-10">
            <input type="text" placeholder="First Name" required />
        </div>
    </div>
    <div class="form-group margin">
        <label class="col-sm-2 control-label">Last Name:</label>
        <div class="col-sm-10">
            <input type="text" name="lname" placeholder="First Name" required />
        </div>
    </div>
    <div class="form-group margin">
        <label class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-10">
            <input type="text" name="emailid" placeholder="First Name" required />
        </div>
    </div>
    <div class="form-group margin">
        <label class="col-sm-2 control-label">Phone Number:</label>
        <div class="col-sm-10">
            <input type="text" name="phonen" placeholder="First Name" required />
        </div>
    </div>
    <div class="form-group margin">
            <label class="col-sm-2 control-label">Status:</label>
            <div class="col-sm-10">
                <input type="text" name="status" placeholder="First Name" required />
            </div>
    </div>
</form>
<button type="button" class="btn btn-primary" style="margin: 20px;" (click)="addDetails()" >Add</button>